.cd-form {
  margin-left: 550px;
  margin-top: 30px;
  padding: 20px;
}

.cd-form input, select{
  padding-left: 20px;
}

#inputdefault {
 margin-bottom: 20px;
 width: 400px;
 padding: 10px;
}

#button{
  border: none;
  background: #421980;
  border-radius: 20px;
  padding: 16px 20px;
  color: #ffffff;
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
  cursor: pointer;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}
