html {
  font-size: 62.5%;
}

body{
	font-family: "Open Sans", sans-serif;
}

.container{
  margin-top: 5%;
  margin-left: 7%;
}

input[type=submit] {
    width: 230px;
    height: 350px;
    border-radius: 10px;
    background: #421980;
    opacity: 0.8;
    color: white;
    font-size: 18px;
}
